.carrousel-item__card {
    height: 480px;
    width: 720px;
    position: relative;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 1em;
    box-shadow: 0 0 20px 8px #d0d0d0;
    margin: 10px;
    overflow: hidden;
   }
   
   .carrousel-item__image {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: #0a3394;
    background: linear-gradient(to top, #0a3394, #4286f4);
   }
   
   .carrousel-item__description {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    gap: 0.5em;
    flex-direction: column;
    background-color: #EEEEFF;
    height: 70%;
    bottom: 0;
    border-radius: 1em 1em 0 0;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 1rem;
   }
   
   .carrousel-item__title {
    font-size: 1.4em;
    font-weight: 700;
   }
   
   .carrousel-item__body {
    font-size: 1em;
    line-height: 150%;
   }
   
   .carrousel-item__card:hover .carrousel-item__description {
    transform: translateY(-100%);
   }

.carrousel-item__box {
    display: flex;
    justify-content: center;
}
.carrousel-item__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
 .carrousel-item__links button {
    --color: #2D3850ff;
    display: flex;
    align-items: center;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    border: 2px solid var(--color);
    font-size: 17px;
    border-radius: 6px;
    color: var(--color);
    transition: all .7s;
    cursor: pointer;
   }
   .carrousel-item__links button ion-icon {
    color: var(--color);
    padding-bottom: 0px;

   }

   .carrousel-item__links button:hover ion-icon{
    color:white;
   }
   .carrousel-item__links button:hover {
    background-color: var(--color);
   }
   
   