.cover__box {
    height: 100vh;
    width: 100%;
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.6);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.cover__video {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    background-color: #eeeeff;
}

.cover__box h1 {
    color: white;
    font-size: 100px;
    font-family: Satoshi-Variable;
}

.cover__box p {
    color: white;
    font-size: 32px;
    font-family: Satoshi-Variable;
    
}
.cover__box button {
    background: none;
    border: none;
}

@media screen and (max-width: 960px){
    .cover__box h1 {
        font-size: 70px;
        text-align: center;
    }
    .cover__box p {
        text-align: center;
        font-size: 22px;
    }
}