.skills__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 100px 0 100px;
        background-color: #EEEEFF;
        /* align-items: center; */
    }

.skills__box > h3 {
    margin-bottom: 30px;
    font-size: 28px;
}
.skills__section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
    align-items: center;
    gap: 50px;
}


@media only screen  and (max-width: 960px) {
    .skills__box {
        justify-content: center;
        align-items: center;
    }
    .skills__box h3 {
        font-size: 20px;
    }

}
@media only screen and (max-width: 450px){
  .skillssection {
    grid-template-columns: repeat(2, 1fr);
  }
  
}