.carousel {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
.carousel h3 {
    margin-bottom: 30px;
    font-size: 28px;
    padding: 0 100px 0 100px;
}
.slider {
    background-color: white;
    width: 100%;
}
.card-top a img {
    display: block;
    width: 80%;
    height: auto;
    margin: auto;  
}
.card {
    background-color: white;
}
.slick-arrow {
    display: none;
}
.card-top a {
    text-decoration: none;
}
.card-top a h4, p {
    color:black;
    
}

.card-bottom p, .card-top a h4 {
    padding: 0 100px 0 100px;
    line-height: 1.5;
}

@media only screen  and (max-width: 960px) {
    .carousel {
        justify-content: center;
    }
    .carousel h3 {
        font-size: 20px;
    }
    .card-top a h4, .card-bottom p {
        padding: 20px 20px 0px 20px;

    }
}
